logomaker
mavenn
scipy==1.12
numpy==1.24
pandas==1.5.3
torch==1.13
matplotlib==3.6
scikit-learn==1.2.1
ipykernel
biopython==1.80
sphinx==5.0.2
tqdm
openpyxl
seaborn
arviz
jax
numpyro
python-graphviz
sphinx_rtd_theme
myst-parser 